:root {
  /* dark theme */
  --background-dt: rgb(46, 52, 64);
  --text-dt: rgb(216, 222, 233);

  /* light theme */
}

body {
  background: var(--background-dt);
  color: var(--text-dt);
}

table {
  border-collapse: collapse;
  border: 1px solid rgba(255, 160, 122, 0.315);
}

thead {
  background: rgba(240, 128, 128, 0.1);
  text-transform: uppercase;
  -webkit-user-select: none;
  user-select: none;
}

tbody tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.05);
}


tr {
  display: flex;
  flex-direction: row;
}

td,
th {
  padding: 0.7em 1.5em;
  width: 95px;
  text-align: center;
}

.up::after {
  color: lightgreen;
  content: ' ↓';
}

.down::after {
  color: orange;
  content: ' ↑';
}